@model Project.Areas.Setup.Models.ExchangeRateViewModel
@{
    ViewBag.Title = "Edit Rate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.IsGreetings = "true";
}

@section Crumbs{
    <div class="crumbs">

        <ul class="breadcrumb" id="breadcrumbs">
            <li><i class="icon-home"></i><a href="@Url.Action("Index", "Home", new { area = "Admin" })">Dashboard</a> </li>
            <li><i class="icon-home"></i><a href="@Url.Action("Index", "ExchangeRate", new { area = "Setup" })">Exchange Rate</a> </li>
            <li><i class="current"></i><a href="javascript: return void(0)">Edi Rate</a> </li>


        </ul>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="widget box">
            <div class="widget-header">
                <h4>
                    <i class="icon-reorder"></i>
                    Edit Rate
                </h4>
            </div>
            <div class="widget-content">
                @using (Html.BeginForm("EditRate", "ExchangeRate", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal row-border" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.Exchangeform.Id)


                    <div class="form-group">
                        @Html.Label("Currecny Name", new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Exchangeform.CurrencyName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Exchangeform.CurrencyName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Exchangeform.WeeklyDate, new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.Exchangeform.WeeklyDate, new { @class = "form-control datepicker-weeklydate", @readonly = true })
                            @Html.ValidationMessageFor(m => m.Exchangeform.WeeklyDate)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Exchangeform.Buying, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Exchangeform.Buying)
                            @Html.ValidationMessageFor(m => m.Exchangeform.Buying)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(m => m.Exchangeform.Selling, new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.Exchangeform.Selling)
                            @Html.ValidationMessageFor(m => m.Exchangeform.Selling)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.Label("Existing Picture", new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            <img src="~/Content/TopFirstDocument/Photo/@Model.Rate.Logo" height="100" width="100" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Exchangeform.Photo, new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(x => Model.Exchangeform.Photo, new { type = "file" })
                            @Html.ValidationMessageFor(m => m.Exchangeform.Photo)
                        </div>
                    </div>

                    <div class="form-actions">
                        @Html.ActionLink("<< Back to List", "Index", null, new { @class = "btn btn-success" })
                        <input type="submit" class="btn btn-warning pull-right" value="Save" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/Content/Backend/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/Backend/plugins/datatables/tabletools/TableTools.min.js")
    @Scripts.Render("~/Content/Backend/plugins/datatables/colvis/ColVis.min.js")
    @Scripts.Render("~/Content/Backend/plugins/datatables/DT_bootstrap.js")
    @Scripts.Render("~/Content/Backend/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js")
    <script>
        "use strict";

        $(document).ready(function () {
            $(".datepicker-weeklydate").datepicker({
                defaultDate: +7,
                showOtherMonths: true,
                autoSize: true,
                dateFormat: "dd-mm-yy",
                maxDate: '+0D',
                changeYear: true,
                changeMonth: true, yearRange: "-100:-0"
            });

        });


    </script>
}


















